.panel-default>.panel-heading {
    color: #2aca2d;
    background-color: #3c763d;
    border:1px;
    border-color: black;

}
h3.price{
text-align: right;
color:#3c763d;

}
.panel-body{
background-color: #dff0d8;
}

h4.well{
    color: #3c763d;
    width: 250px;
    height: 100px;
    
    /* margin: 15px; */
    /* border:1px; 
    border-style:solid; 
    border-color:rgb(14, 102, 6); */
    /* padding: 1em; */
    
}
.audio{
    margin-bottom: 15px;
}
.col-md-12{
    background-color: black;
}
.row {
    background-color: black
}
.form-inline{
    align-self: center;
    background-color: black;
}
.form-group{
    padding-bottom: 3em;

}
    /*


flex-direction: row | row-reverse | column | column-reverse; */
